<!-- app/views/proyectos/delete.html.erb -->

<h1>Eliminar Proyecto</h1>

<p>¿Estás seguro de que deseas eliminar este proyecto?</p>

<p>Nombre del Proyecto: <%= @proyecto.nombre %></p>
<p>Estado del Proyecto: <%= @proyecto.estado %></p>

<%= form_with(model: @proyecto, url: proyecto_delete_path(@proyecto), method: :delete) do |form| %>
  <%= form.submit "Eliminar", class: "btn btn-danger" %>
  <%= link_to "Cancelar", proyecto_view_path(@proyecto), class: "btn btn-secondary" %>
<% end %>