<% content_for :title do %>
  <title>Nuevo proyecto</title>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <% for error in flash[:error] do %>
      - <%= error %> <br/>
    <% end %>
  </div>
<% end %>

<h1>Crear Proyecto</h1>

<%= form_for @proyecto, url: proyectos_path, method: :post do |f| %>

<div class="form-group">
  <%= f.label :lider_id %>
  <%= f.collection_select :lider_id, @lideres, :id, :nombre, {}, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :fecha_vencimiento %>
  <%= f.date_field :fecha_vencimiento, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :nombre %>
  <%= f.text_field :nombre, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :descripcion %>
  <%= f.text_area :descripcion, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.submit "Crear Proyecto", class: "btn btn-primary" %>
</div>

<% end %>