<h1><%= @proyecto.nombre%></h1>


<h2>gerente : <%= @nombreGerente%>, lider: <%= @nombreLider%></h2>


<% if @idUsuario == @proyecto.gerente_id %>

<script type="text/javascript">
	
	function toggleAddMeta(){
		console.log("TOGGLE");
		let add_view = document.getElementById("addMeta");

		if (add_view.style.display == "block"){
			add_view.style.display = "none";
		} else{			
			add_view.style.display = "block";
		}

		if(add_view.getAttribute("name") == "placeholder"){
			add_view.innerHTML = `<%= 
			@meta = Meta.new
			render template: 'metas/add' %>`

			add_view.setAttribute("name","add_meta_view")
			console.log("Loaded..");
		}
	}
</script>


<input type="button" value="add meta" onclick="toggleAddMeta()" />
<div id="addMeta" name = "placeholder" style="display: none;"></div>

<% end%>


<% if @idUsuario == @proyecto.lider_id %>
<p>Buenas lider</p>

<% end%>



<% if @metas == nil || @metas.size == 0%>

	<h3>Sin metas</h3>

<% else %>

<% @metas.each do |meta| %>
	<div style="background-color: #e9e9e9">
		<p>meta: <%= meta.nombre%></p>
		<p>id: <%= meta.id%></p>
	
	  <%= link_to 'view', controller: "metas", action: "show", id: meta.id%>

	</div>
<% end %>
<% end %>





