<% content_for :title do %>
  <title><%= @proyecto.nombre%></title>
<% end %>

<h1><%= @proyecto.nombre%></h1>


<h2>gerente : <%= @proyecto.gerente.nombre%>, lider: <%= @proyecto.lider.nombre%></h2>


<% if @usuario.id == @proyecto.gerente_id %>

<%= render template: "proyectos/add_meta",locals: {:idProyecto => @proyecto.id} %>

<% end%>


<% if @usuario.id == @proyecto.lider_id %>
<p>Buenas lider</p>

<% end%>


<% if @metas == nil || @metas.size == 0%>
  <h3>Proyecto no tiene metas</h3>
<% else %>
  <% @metas.each do |metaParams| %>
  <%= render partial: "stats/meta", locals: metaParams %>
  <% end %>
<% end %>