<h1><%= @proyecto.nombre%></h1>


<h2>gerente : <%= @nombreGerente%>, lider: <%= @nombreLider%></h2>


<% if @idUsuario == @proyecto.gerente_id %>

<%= render template: "proyectos/add_meta",locals: {:idProyecto => @idProyecto} %>

<% end%>


<% if @idUsuario == @proyecto.lider_id %>
<p>Buenas lider</p>

<% end%>



<% if @metas == nil || @metas.size == 0%>

	<h3>Sin metas</h3>

<% else %>

<% @metas.each do |meta| %>
	<%= render template: "metas/item", locals: {:meta => meta}%>

<% end %>
<% end %>





