<%= form_for tarea, url: tareas_path, method: :post do |f| %>

  <%= hidden_field_tag "tarea[meta_id]" , meta_id %>

  <div>
    <%= f.label :revisor_id %>
    <%= f.collection_select :revisor_id, Usuario.where(usuario_tipo: 'Revisor'), :id, :nombre %>
  </div>

  <div>
    <%= f.label :integrante_id %>
    <%= f.collection_select :integrante_id, Usuario.where(usuario_tipo: 'Integrante'), :id, :nombre %>
  </div>

  <div>
    <%= f.label :fecha_vencimiento %>
    <%= f.date_field :fecha_vencimiento %>
  </div>

  <div>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div>
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>

  <div>
    <%= f.submit "Crear Tarea" %>
  </div>
<% end %>