<h1><%= @tarea.nombre %></h1>

<p>Meta: <%= @tarea.meta.nombre %></p>
<p>Revisor: <%= @tarea.revisor.nombre %></p>
<p>Integrante: <%= @tarea.integrante.nombre %></p>
<p>Fecha de vencimiento: <%= @tarea.fecha_vencimiento %></p>
<p>Descripción: <%= @tarea.descripcion %></p>
<p>Estado: <%= @tarea.estado %></p>