
<% content_for :title do %>
  <title>Alta de usuario</title>
<% end %>
    



<p><%= link_to 'Volver', user_list_view_path %></p>
<h3  class="text-center mb-3">Registro de Usuario</h3>

<%= form_for @usuario, url: registro_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :usuario_tipo, class: "control-label" %>
    <%= f.select :usuario_tipo, options_for_select(['Gerente', 'Líder', 'Revisor', 'Integrante']), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :nombre , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :apellido %>
    <%= f.text_field :apellido, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group d-flex justify-content-center">
    <%= f.submit "Crear usuario", class: 'btn btn-primary' %>
  </div>
<% end %>

