<p>Stats meta</p>

<%= render template: "metas/item", locals: {:meta => @meta}%>

<div>

<p>Has <%= @stats[:total] %> tasks</p>
<p><%= @stats[:done] %> done, <%= @stats[:finished] %> finished</p>
	

</div>
<%= render template: "stats/progress_bar", locals: {:progress => @stats[:progress]}%>
