<!DOCTYPE html>
<html>
<head>


  <%= yield :title %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags%>

  <script type="module">
    import {suscribirseA} from "channels"
    window.suscribe = suscribirseA;
  </script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <style>
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      padding: 10px 0;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #f8f9fa;
    }

    .sidebar .nav-link {
      padding: 10px 40px;
    }

    .content {
      margin-left: 230px;
      padding: 30px;
      width:100%
    }
  </style>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="row mr-2 align-items-center">
          <div onclick="window.location.href='<%= url_for(controller: 'notificaciones', action: 'show') %>'" style="cursor: pointer; margin-right: 4rem;" class="d-flex flex-row btn btn-primary">
            <i class="bi bi-bell-fill" style="color: white; font-size: 15pt;"></i>
          </div>
          <div class="mr-3" style="margin-top:15px">
            <p style="color: white" class="text-right">¡Hola, <%= @usuario.nombre %>!<br/><%= @usuario.usuario_tipo %></p>
          </div>
          <img src="user-img.jpg" width="50px" height="50px" class="rounded">
        </div>
      </div>
  </nav>

  <div class="d-flex">
    <div class="sidebar">
    <div class="row align-items-center" style="margin-left: 10px; margin-top:15px">
      <img src="logo.png" width='50px' height='40px'>
      <a class="nav-link" style="margin-left: -30px">Software System</a>
    </div>
      <ul class="nav flex-column" style="margin-top:25%">
      <% if policy(:tarea).show? %>
        <li class="nav-item nav-link">
          <i class="bi bi-list-check"></i>
          <%= link_to 'Mis Tareas', {controller: "usuarios", action: "home"},style:"padding-left:5px"%>
        </li>
      <% end %>
      <% if policy(:proyecto).show? %>
        <li class="nav-item nav-link">
          <i class="bi bi-list-check"></i>
          <%= link_to 'Mis Proyectos', {controller: "usuarios", action: "home"},style:"padding-left:5px"%>
        </li>
      <% end %>
      <li class="nav-item nav-link">
        <i class="bi bi-clock-history"></i>
        <%= link_to 'Registros', {controller: "logs", action: "view"}, style:"padding-left:10px"%>
      </li>
      <% if policy(:usuarios).show_all? %>
        <li class="nav-item nav-link">
          <i class="bi bi-person"></i>
          <%= link_to 'Usuarios', {controller: "usuarios", action: "user_list"}, style:"padding-left:10px"%>
        </li>
      <% end %>
        <li class="nav-item nav-link">
          <%= form_tag cerrar_sesion_path, method: :delete do %>
            <i class="bi bi-box-arrow-in-left"></i>
            <%= submit_tag 'Cerrar sesión', style:"background-color: #f8f9fa; border-width: 0px; color: #007BFF" %>
          <% end %>
        </li>
      </ul>
    

    <!-- En online ... -->
    <div>
      <p class="justify-content-center d-flex mt-5">Usuarios online:</p>
      <ul id = "onlineUsers" class="list-group" style="overflow-y: scroll;overflow-x: scroll; max-height: 350px; margin-top:1rem;">
      </ul>
    </div>
    
    <script type="module">
      import {initializeOn, updateViewOnline} from "js_vista_online"

      function updater(data){ 
        updateViewOnline(data, document.getElementById("onlineUsers"));
      }
      console.log("SUSCRIBIENDO A EN LINEA ");
      suscribe("EnLinea", updater, !initializeOn(document.getElementById("onlineUsers")));

    </script>

    </div>

      <!-- Aca va  el contenido  principal -->
    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
